[submodule "Libraries/glm"]
	path = Libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Libraries/earcut.hpp"]
	path = Libraries/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp
[submodule "Libraries/Clara"]
	path = Libraries/Clara
	url = https://github.com/catchorg/Clara
